!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Polity"

    = stylesheet_link_tag "application", media: "all", data: { "turbolinks-track": "reload" }
    = javascript_include_tag "application", data: { "turbolinks-track": "reload" }
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-left
        %ul.menu
          -if user_signed_in?
            %li.menu-text Signed in as:
            %li
              = link_to current_user.handle, edit_user_path(current_user)
          -else
            %li.menu-text
              Not signed in.
      .top-bar-right
        %ul.menu
          -if user_signed_in?
            %li.sign-out
              = link_to "Sign Out", sign_out_path, method: :delete
          -elsif controller_name != "sessions"
            %li.sign-in
              = link_to "Sign In", sign_in_path
    - flash.each do |name, msg|
      %div{ class: name + " callout", data: { closable: "" }}
        = content_tag :span, msg
        %button.close-button{ "aria-label": "Dismiss alert", data: { close: "" }, type: "button" }
          %span{ "aria-hidden": true } &times;
    = yield
