!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Polity"

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag "application"
    = csrf_meta_tag

  %body
    - flash.each do |name, msg|
      %div{ class: name + " callout", data: { closable: "" }}
        = content_tag :span, msg
        %button.close-button{ "aria-label": "Dismiss alert", data: { close: "" }, type: "button" }
          %span{ "aria-hidden": true } &times;
    = yield
